################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Desktop/PropHuntGame/.vs/PropHuntGame/v16/Browse.VC.opendb
/Desktop/PropHuntGame/.vs/PropHuntGame/v16/Browse.VC.db-wal
/Desktop/PropHuntGame/.vs/PropHuntGame/v16/Browse.VC.db-shm
